// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #1C2321;
	--ion-color-primary-rgb: 28,35,33;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #191f1d;
	--ion-color-primary-tint: #333937;

	--ion-color-secondary: #7D98A1;
	--ion-color-secondary-rgb: 125,152,161;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #6e868e;
	--ion-color-secondary-tint: #8aa2aa;

	--ion-color-tertiary: #5E6572;
	--ion-color-tertiary-rgb: 94,101,114;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #535964;
	--ion-color-tertiary-tint: #6e7480;

	--ion-color-success: #A9B4C2;
	--ion-color-success-rgb: 169,180,194;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #959eab;
	--ion-color-success-tint: #b2bcc8;

	--ion-color-warning: #EEF1EF;
	--ion-color-warning-rgb: 238,241,239;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d1d4d2;
	--ion-color-warning-tint: #f0f2f1;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}